.tim-row {
  margin-bottom: 20px;
}

.tim-white-buttons {
  background-color: #777777;
}

.typography-line {
  padding-left: 25%;
  margin-bottom: 35px;
  position: relative;
  display: block;
  width: 100%;
}

.typography-line span {
  bottom: 10px;
  color: #c0c1c2;
  display: block;
  font-weight: 400;
  font-size: 13px;
  line-height: 13px;
  left: 0;
  position: absolute;
  width: 260px;
  text-transform: none;
}

.tim-row {
  padding-top: 60px;
}

.tim-row h3 {
  margin-top: 0;
}

.offline-doc .page-header {
  display: flex;
  align-items: center;
}

.offline-doc .footer {
  position: absolute;
  width: 100%;
  background: transparent;
  bottom: 0;
  color: #fff;
  z-index: 1;
}

@media all and (min-width: 992px) {
  .sidebar .nav>li.active-pro {
    position: absolute;
    width: 100%;
    bottom: 10px;
  }
}

.card.card-upgrade .card-category {
  max-width: 530px;
  margin: 0 auto;
}
.action-add {
  float: right;
  position: relative;
  bottom: 56px;
  background-color:transparent;
  }
  .action-add:hover{
  background-color:transparent;
  }
  /* .form-control {
  height: 40px;
  box-shadow: none;
  color: #969fa4;
  } */
  .form-control, .btn {        
  border-radius: 3px;
  }
  .signup-form .hint-text {
  color: #999;
  margin-bottom: 30px;
  text-align: center;
  }
  .signup-form .form-group {
  margin-bottom: 20px;
  }
  .signup-form .btn {        
  font-size: 16px;
  font-weight: bold;		
  min-width: 140px;
  outline: none !important;
  }
  .signup-form .row div:first-child {
  padding-right: 10px;
  }
  .signup-form .row div:last-child {
  padding-left: 10px;
  }    	
  .signup-form a {
  color: #fff;
  text-decoration: underline;
  }
  .signup-form a:hover {
  text-decoration: none;
  }
  .signup-form form a {
  color: #5cb85c;
  text-decoration: none;
  }	
  .signup-form form a:hover {
  text-decoration: underline;
  }
  .btn-xs{
  color: #fff;
  background-color: #398439;
  border-color: #255625;
  }
  .action-delete:hover{
  background-color:transparent;
  }
  .action-trash{
  content: "\f2ed";
  color: red;
  text-align: center;
  }
  thead.action-head {
  background: f96332;
  background: #f96332;
  color: white;
  font-weight: 900;
  }
  .alert.alert-success {
    background-color: #7be0bb;
    color: #000;
}

.office-card{
  padding:10px;
  border:1px solid #ccc;
}
.card .action-delete{
  float: right;
  position: absolute;
  right: 18px;
  top: 22px;
  background: #fff;
  padding: 13px;
  border-radius: 20px;
}
.form-check .form-check-label{
  padding-left:0px;
  display: block;
}
.form-check input[type="checkbox"], .radio input[type="radio"]{
  opacity:1;
  visibility:visible;
}
.list-group{
  display: block;
}
td.text-center .action-delete{
  float: none;
  position: relative;
  top: 0;
  right:0 ;
}
